.page {
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 1em 0.5em 10em 1em;

  display: flex;
  flex-direction: column;
  row-gap: 10em;

  background-color: var(--main-light);
}

.page-logo {
  position: absolute;
  top: 0.5%;
  left: 0.5%;

  width: 120px;
}

@media (max-width: 1279px) {
  .page {
    padding: 1em 0.5em 8em 1em;
    row-gap: 3em;
  }

  .page-logo {
    width: 80px;
  }
}
