.skill-section {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1em;

  align-items: center;
}

.section-title {
  width: fit-content;
  padding: 0em 2em;
  background-color: var(--ml-dark);
  border-radius: 10px;
  box-shadow: var(--simple-shadow);

  font-size: 3rem;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color);
  letter-spacing: 5px;

  overflow: hidden;
}

.grades-container {
  width: 100%;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  column-gap: 1em;
  row-gap: calc(1.5rem * 5);
}

@media (max-width: 1279px) {
  .skill-section {
    justify-content: center;
  }

  .section-title {
    padding: 0em 1em;

    font-size: 2rem;
    letter-spacing: 3px;
  }

  .grades-container {
    width: 100%;

    justify-content: unset;

    row-gap: 1em;
  }
}
